@import "variables";

.main {
  margin-bottom: 40px;

  .center-part {
    background-color: #fff;
    border-radius: 6px;
    padding: 16px;

    .movies-in-cinemas {
      position: relative;

      &:after {
        content: '';
        background: url("../images/shadow2.png");
        height: 16px;
        width: 304px;
        position: absolute;
        bottom: -20px;
      }

      .in-cinemas {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
      }
    }

    .audience {
      margin-top: 10px;
      position: relative;

      &:after {
        content: '';
        background: url("../images/shadow2.png");
        height: 16px;
        width: 304px;
        position: absolute;
        bottom: -20px;
      }

      h3 {
        display: inline-block;
        padding-right: 8px;
        border-right: 2px solid $dark-grey-color;
      }

      .movie-name {
        font-size: 14px;
        font-family: $font-bold;
      }
    }
  }

  .news {
    margin-top: 20px;


    &:nth-child(2) {
      margin-bottom: 16px;
    }


    .news-footer {
      display: flex;
      justify-content: space-between;

      a {
        margin-top: 0;


      }

      div {
        display: flex;
        flex-direction: column;

        span {
          font-size: 10px;
          font-family: $font-main;
          color: #a2a2a2;
        }
      }
    }
  }

  img {
    margin: 0 6px 4px 0;
  }

  p {
    font-size: 12px;
    font-family: $font-main;
  }

  h3 {
    font-size: 14px;
    font-family: $font-bold;
    color: $dark-grey-color;
  }

  h4 {
    font-size: 12px;
    font-family: $font-bold;
    color: #000;
  }
}