@import "variables";

.carousel {

  &:after {
    content: '';
    background: url("../images/shape3.png");
    height: 49px;
    width: 153px;
    position: absolute;
    bottom: -12px;
    left: 16%;
  }

  .container {
    position: absolute;
  }

  .img-fluid {
    width: 100%;
  }

  .first-indicator {
    background: url("../images/slide-dot1.png");
    height: 42px;
    min-width: 93px;
    border: 1px solid #fff;
  }

  .second-indicator {
    background: url("../images/slide-dot2.png");
    height: 42px;
    min-width: 93px;
    border: 1px solid #fff;
  }

  .third-indicator {
    background: url("../images/slide-dot3.png");
    height: 42px;
    min-width: 93px;
    border: 1px solid #fff;
  }

  .carousel-control-prev-icon {
    background: url("../images/prev.png");
    height: 52px;
    width: 53px;
  }

  .carousel-control-next-icon {
    background: url("../images/next.png");
    height: 52px;
    width: 53px;
  }

  .slide-info {
    background-color: rgba(0, 0, 0, .75);
    border-radius: 4px;
    width: 320px;
    position: absolute;
    right: 0;
    color: #fff;
    padding: 10px;
    top: 10px;

    &:before {
      content: '';
      background: url("../images/shape1.png");
      height: 66px;
      width: 45px;
      position: absolute;
      z-index: 100;
      top: 38%;
      left: -11px;
    }

    &:after {
      content: '';
      background: url("../images/shape2.png");
      height: 36px;
      width: 55px;
      position: absolute;
      z-index: 100;
      top: -9px;
      right: 12px;
    }
    h3 {
      font-size: 16px;
    }

    h4 {
      font-size: 12px;
    }

    .movie-data {
      display: flex;
      align-items: flex-end;
      justify-content: space-around;

      .movie-day {
        font-size: 60px;
        color: #000;
        background: url("../images/data-bg.png") no-repeat;
        height: 60px;
        width: 83px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-family: $font-main;
      }
    }

    .movie-rating {

      li {
        background: url("../images/star.png");
        height: 17px;
        width: 17px;
        display: inline-block;
      }

      .red-star {
        background: url("../images/red-star.png");
      }
    }
  }
}