@import "variables";
@import "fonts";
@import "header";
@import "slider";
@import "first-section";
@import "main";
@import "footer";

body {
  background: url("../images/body-bg.png");
  font-family: $font-main;
}

.main-text {
  font-size: 11px;
}

.small-text {
  font-size: 9px;
}

.red-text {
  color: $red-color;
}

p, ul {
  margin-bottom: 0;
  padding-left: 0;
}

.expected-movies {
  .rating {
    padding: 16px 0 10px 0;

    p {
      color: #A9A9A9;
      text-shadow: 1px 1px #f3f1f1;
      font-size: 19px;
      text-transform: uppercase;
      margin-left: 15%;
    }
  }
}

h4 {
  font-size: 12px;
}

.white-text {
  color: #fff;
}

.blue-text {
  color: #3771c8;
}

.movie-rating {

  li {
    background: url("../images/star.png");
    height: 17px;
    width: 17px;
    display: inline-block;
  }

  .red-star {
    background: url("../images/red-star.png");
  }
}

.main-btn {
  background: url("../images/btn-bg.png");
  height: 23px;
  width: 106px;
  border: none;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: #fff;
  }
}

.pagination {
  margin-bottom: 80px;
  ul {
    list-style: none;
    display: flex;
    align-items: flex-end;

    .active {
      background: url("../images/active-pag.png");
      height: 29px;
      width: 73px;
      align-items: center;

      a {
        font-size: 12px;
        font-family: $font-bold;
      }
    }

    li {
      background: url("../images/pag.png");
      height: 19px;
      width: 48px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-left: -6px;

      a {
        color: #fff;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}