@font-face {
  font-family: "Tahoma";
  src: url("../fonts/Tahoma.ttf") format("truetype"); }
@font-face {
  font-family: "TahomaBold";
  src: url("../fonts/TahomaBold.ttf") format("truetype"); }
.main-header {
  background: url("../images/header-bg.png");
  background-size: cover;
  padding: 8px 0;
  color: #6d6c6c; }
  .main-header .logo-part {
    display: flex;
    align-items: center; }
  .main-header p {
    font-size: 9px;
    margin-left: 20px; }
  .main-header .main-nav li {
    display: inline-block;
    padding: 0 10px;
    position: relative; }
    .main-header .main-nav li:first-child {
      border-right: 1px solid #fff;
      position: relative; }
      .main-header .main-nav li:first-child:after {
        content: '';
        background: url("../images/border.png");
        width: 2px;
        height: 36px;
        position: absolute;
        left: -4px;
        bottom: 0; }
    .main-header .main-nav li:before {
      content: '';
      background: url("../images/border.png");
      width: 2px;
      height: 36px;
      position: absolute;
      right: -2px;
      bottom: 0; }
    .main-header .main-nav li a {
      color: #6d6c6c;
      font-size: 12px;
      font-weight: bold; }

.main-header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav {
  background: url("../images/search-bg.png");
  background-size: cover;
  color: #fff;
  font-size: 14px;
  font-weight: bold; }
  .nav a {
    color: #fff;
    padding: 0 10px; }
    .nav a:first-child {
      border-right: 1px solid #fff; }
      .nav a:first-child:before {
        content: '';
        background: url("../images/shape.png");
        height: 36px;
        width: 55px;
        position: absolute;
        left: -14px;
        bottom: -10px; }
  .nav form {
    display: flex;
    align-items: center; }
    .nav form label {
      background: url("../images/label.png") no-repeat;
      height: 52px;
      width: 65px;
      margin-bottom: 0;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; }
      .nav form label:after {
        content: '';
        background: url("../images/search-shape.png");
        height: 69px;
        width: 105px;
        position: absolute;
        left: 26px;
        bottom: -18px;
        z-index: 100; }
    .nav form .search {
      width: 380px;
      position: relative;
      line-height: 28px;
      border-radius: 2px;
      border: none;
      padding-left: 14px; }
    .nav form .submit-btn {
      background: url("../images/search-btn.png");
      height: 46px;
      width: 81px;
      border: none;
      position: absolute;
      right: -8px;
      top: -10px; }

.nav > .container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

@media (max-width: 738px) {
  .nav > .container {
    display: flex;
    flex-direction: column; }
    .nav > .container .search {
      width: 240px; } }
.carousel:after {
  content: '';
  background: url("../images/shape3.png");
  height: 49px;
  width: 153px;
  position: absolute;
  bottom: -12px;
  left: 16%; }
.carousel .container {
  position: absolute; }
.carousel .img-fluid {
  width: 100%;
  height: 20vw; }
.carousel .first-indicator {
  background: url("../images/slide-dot1.png");
  height: 42px;
  min-width: 93px;
  border: 1px solid #fff; }
.carousel .second-indicator {
  background: url("../images/slide-dot2.png");
  height: 42px;
  min-width: 93px;
  border: 1px solid #fff; }
.carousel .third-indicator {
  background: url("../images/slide-dot3.png");
  height: 42px;
  min-width: 93px;
  border: 1px solid #fff; }
.carousel .carousel-indicators .active {
  border: 1px solid #00f; }
.carousel .carousel-control-prev-icon {
  background: url("../images/prev.png");
  height: 52px;
  width: 53px; }
.carousel .carousel-control-next-icon {
  background: url("../images/next.png");
  height: 52px;
  width: 53px; }
.carousel .slide-info {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  width: 320px;
  position: absolute;
  right: 0;
  color: #fff;
  padding: 10px;
  top: 10px; }
  .carousel .slide-info:before {
    content: '';
    background: url("../images/shape1.png");
    height: 66px;
    width: 45px;
    position: absolute;
    z-index: 100;
    top: 38%;
    left: -11px; }
  .carousel .slide-info:after {
    content: '';
    background: url("../images/shape2.png");
    height: 36px;
    width: 55px;
    position: absolute;
    z-index: 100;
    top: -9px;
    right: 12px; }
  .carousel .slide-info h3 {
    font-size: 16px; }
  .carousel .slide-info .movie-data {
    display: flex;
    align-items: flex-end;
    justify-content: space-around; }
    .carousel .slide-info .movie-data .movie-day {
      font-size: 60px;
      color: #000;
      background: url("../images/data-bg.png") no-repeat;
      height: 60px;
      width: 83px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-family: "Tahoma", sans-serif; }

@media (max-width: 1024px) {
  .carousel-indicators {
    display: none; }

  .slide-info {
    right: 60px; } }
@media (max-width: 960px) {
  .carousel-indicators {
    display: none; }

  .slide-info {
    display: none; } }
.latest-movies {
  padding: 34px 0; }
  .latest-movies h4 {
    height: 28px;
    margin-bottom: 0; }
  .latest-movies .row {
    position: relative;
    margin-top: 22px; }
    .latest-movies .row:before {
      content: '';
      background: url("../images/section-shape.png");
      height: 343px;
      width: 52px;
      position: absolute;
      bottom: 4px;
      left: -40px; }
  .latest-movies .movie-rating {
    position: absolute;
    top: 8px;
    right: 24px; }
  .latest-movies .image-wrap {
    position: relative;
    width: 220px; }
    .latest-movies .image-wrap img {
      border: 4px solid #D3D3D3;
      margin-bottom: 10px; }
    .latest-movies .image-wrap:after {
      content: '';
      background: url("../images/img-shape.png");
      height: 27px;
      width: 42px;
      position: absolute;
      bottom: 7px;
      left: 4px; }
    .latest-movies .image-wrap:before {
      content: '';
      background: url("../images/shadow.png");
      height: 21px;
      width: 245px;
      position: absolute;
      bottom: -7px; }
  .latest-movies .main-text:before {
    content: '';
    background: url("../images/shadow.png");
    height: 21px;
    width: 245px; }
  .latest-movies .movie {
    padding: 0 25px;
    color: #202020;
    margin-bottom: 4px; }
  .latest-movies .sidebar {
    padding: 4px 0;
    color: #fff;
    background: url("../images/sidebar-bg1.png");
    border-radius: 4px; }
    .latest-movies .sidebar h4 {
      background: url("../images/h-bg.png") no-repeat;
      width: 228px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-left: 7px; }
    .latest-movies .sidebar .updates {
      display: flex;
      margin: 10px;
      border-bottom: 1px solid #000; }
      .latest-movies .sidebar .updates img {
        border: 2px solid #6d6c6c;
        margin-bottom: 12px;
        margin-right: 6px; }
    .latest-movies .sidebar .all-updates {
      font-size: 12px;
      position: relative;
      margin-left: 40px;
      color: #fff; }
      .latest-movies .sidebar .all-updates:after {
        content: '';
        background: url("../images/clapperboard.png");
        width: 19px;
        height: 20px;
        position: absolute;
        left: 100%; }

.main {
  margin-bottom: 2px; }
  .main .row {
    align-items: flex-start; }
  .main .center-part {
    background-color: #fff;
    border-radius: 6px;
    padding: 16px; }
    .main .center-part h4 {
      color: #000; }
    .main .center-part .movies-in-cinemas {
      position: relative; }
      .main .center-part .movies-in-cinemas:after {
        content: '';
        background: url("../images/shadow2.png");
        height: 16px;
        width: 304px;
        position: absolute;
        bottom: -20px; }
      .main .center-part .movies-in-cinemas .in-cinemas {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px; }
    .main .center-part .audience {
      margin-top: 10px;
      position: relative; }
      .main .center-part .audience:after {
        content: '';
        background: url("../images/shadow2.png");
        height: 16px;
        width: 304px;
        position: absolute;
        bottom: -20px; }
      .main .center-part .audience h3 {
        display: inline-block;
        padding-right: 8px;
        border-right: 2px solid #202020; }
      .main .center-part .audience .movie-name {
        font-size: 14px;
        font-family: "TahomaBold", sans-serif; }
  .main .news {
    margin-top: 20px; }
    .main .news:nth-child(2) {
      margin-bottom: 16px; }
    .main .news .news-footer {
      display: flex;
      justify-content: space-between; }
      .main .news .news-footer a {
        margin-top: 0; }
      .main .news .news-footer div {
        display: flex;
        flex-direction: column; }
        .main .news .news-footer div span {
          font-size: 10px;
          font-family: "Tahoma", sans-serif;
          color: #a2a2a2; }
  .main img {
    margin: 0 6px 4px 0; }
  .main p {
    font-size: 12px;
    font-family: "Tahoma", sans-serif; }
  .main h3 {
    font-size: 14px;
    font-family: "TahomaBold", sans-serif;
    color: #202020; }
  .main h4 {
    font-family: "TahomaBold", sans-serif; }
  .main .light-grey-text {
    color: #a2a2a2; }
  .main .right-part {
    padding: 4px 14px;
    color: #fff;
    background: url("../images/sidebar-bg2.png");
    border-radius: 0 0 6px 6px; }
    .main .right-part .h-bg {
      background: url("../images/h-bg.png") no-repeat;
      width: 228px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-left: 7px; }
    .main .right-part ul {
      margin-bottom: 16px; }
      .main .right-part ul li {
        display: flex;
        justify-content: space-between;
        font-size: 11px;
        font-family: "Tahoma", sans-serif;
        margin-bottom: 4px; }
        .main .right-part ul li div {
          display: flex;
          flex-direction: column; }
          .main .right-part ul li div a {
            color: #fff;
            font-family: "TahomaBold", sans-serif; }
            .main .right-part ul li div a:hover {
              color: #fff; }
    .main .right-part .box-office {
      color: #fff; }
    .main .right-part .comments div {
      margin-bottom: 16px; }
    .main .right-part .request {
      border-bottom: 1px solid #000; }
    .main .right-part .random {
      margin-top: 6px; }
      .main .right-part .random h3 {
        text-transform: uppercase;
        font-size: 16px;
        font-family: "TahomaBold", sans-serif;
        color: #6d6c6c; }
      .main .right-part .random .image-wrap {
        position: relative; }
        .main .right-part .random .image-wrap img {
          width: 100%; }
        .main .right-part .random .image-wrap .opacity-part {
          position: absolute;
          height: 40px;
          background: rgba(0, 0, 0, 0.3);
          bottom: 0;
          left: 0;
          right: 0;
          padding: 6px; }
      .main .right-part .random a {
        color: #fff;
        font-family: "TahomaBold", sans-serif; }
        .main .right-part .random a:hover {
          color: #fff; }
  .main .left-part .movie-events, .main .left-part .movie-promo, .main .left-part .design-by {
    background: url("../images/sidebar-bg3.png");
    margin-bottom: 6px;
    padding: 4px 14px; }
  .main .left-part .movie-promo h4, .main .left-part .design-by h4 {
    background: url("../images/h-bg2.png") no-repeat;
    width: 380px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    font-family: "Tahoma", sans-serif; }
  .main .left-part .movie-promo .h-border, .main .left-part .design-by .h-border {
    border-bottom: 1px solid #a2a2a2;
    border-top: 1px solid #a2a2a2; }
  .main .left-part .movie-promo p, .main .left-part .design-by p {
    padding: 8px 0; }
  .main .left-part .movie-promo a, .main .left-part .design-by a {
    color: #fff;
    font-size: 14px; }
    .main .left-part .movie-promo a:hover, .main .left-part .design-by a:hover {
      color: #fff; }
  .main .left-part .movie-promo img, .main .left-part .design-by img {
    width: 100%;
    margin-bottom: 8px; }
  .main .left-part .movie-promo p, .main .left-part .design-by p {
    color: #fff; }
  .main .left-part .movie-promo .sidebar-footer, .main .left-part .design-by .sidebar-footer {
    display: flex;
    justify-content: space-between; }
  .main .left-part .movie-events {
    border-radius: 6px;
    padding-top: 10px; }
    .main .left-part .movie-events .premieres h4 {
      width: 50%; }
    .main .left-part .movie-events .premieres .premiere-movies {
      list-style: none; }
      .main .left-part .movie-events .premieres .premiere-movies li {
        width: 49%;
        display: inline-block; }
        .main .left-part .movie-events .premieres .premiere-movies li a {
          color: #fff;
          font-size: 12px; }
          .main .left-part .movie-events .premieres .premiere-movies li a:hover {
            color: #fff; }
    .main .left-part .movie-events .rating {
      list-style: none;
      margin-bottom: 14px; }
      .main .left-part .movie-events .rating li {
        display: flex;
        justify-content: flex-start; }
        .main .left-part .movie-events .rating li span {
          margin-right: 6px; }
        .main .left-part .movie-events .rating li a {
          color: #fff; }
          .main .left-part .movie-events .rating li a:hover {
            color: #fff; }
    .main .left-part .movie-events h4 {
      color: #a2a2a2;
      padding: 8px 0; }
    .main .left-part .movie-events .h-border {
      border-bottom: 1px solid #a2a2a2;
      border-top: 1px solid #a2a2a2; }
    .main .left-part .movie-events .events-header {
      display: flex;
      justify-content: space-between; }
      .main .left-part .movie-events .events-header h4 {
        margin-bottom: 0; }

@media (max-width: 400px) {
  .main .left-part .movie-promo h4, .main .left-part .design-by h4 {
    background: url("../images/h-bg.png") no-repeat;
    width: 228px; } }
footer {
  background: url("../images/footer-bg.png");
  background-size: cover;
  color: #6d6c6c;
  padding: 30px 0;
  position: relative; }
  footer .footer-nav {
    display: flex;
    flex-wrap: wrap; }
    footer .footer-nav ul {
      list-style: none;
      width: 132px; }
      footer .footer-nav ul li {
        font-size: 14px; }
        footer .footer-nav ul li a {
          color: #fff;
          text-decoration: underline;
          font-size: 12px; }
  footer:before {
    content: '';
    background: url("../images/footer-shape.png");
    height: 104px;
    width: 221px;
    position: absolute;
    top: -57px;
    right: 36px; }
  footer .footer-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%; }

.dark-line {
  background: url("../images/dark-bg.png");
  background-size: cover;
  height: 27px; }

body {
  background: url("../images/body-bg.png");
  font-family: "Tahoma", sans-serif; }

.main-text {
  font-size: 11px; }

.small-text {
  font-size: 9px; }

.red-text {
  color: #f70f3b; }

p, ul {
  margin-bottom: 0;
  padding-left: 0; }

.expected-movies .rating {
  padding: 16px 0 10px 0; }
  .expected-movies .rating p {
    color: #A9A9A9;
    text-shadow: 1px 1px #f3f1f1;
    font-size: 19px;
    text-transform: uppercase;
    margin-left: 15%; }

h4 {
  font-size: 12px; }

.white-text {
  color: #fff; }

.blue-text {
  color: #3771c8; }

.movie-rating li {
  background: url("../images/star.png");
  height: 17px;
  width: 17px;
  display: inline-block; }
.movie-rating .red-star {
  background: url("../images/red-star.png"); }

.main-btn {
  background: url("../images/btn-bg.png");
  height: 23px;
  width: 106px;
  border: none;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main-btn:hover {
    color: #fff; }

.pagination {
  margin-bottom: 80px; }
  .pagination ul {
    list-style: none;
    display: flex;
    align-items: flex-end; }
    .pagination ul .active {
      background: url("../images/active-pag.png");
      height: 29px;
      width: 73px;
      align-items: center; }
      .pagination ul .active a {
        font-size: 12px;
        font-family: "TahomaBold", sans-serif; }
    .pagination ul li {
      background: url("../images/pag.png");
      height: 19px;
      width: 48px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-left: -6px; }
      .pagination ul li a {
        color: #fff; }
        .pagination ul li a:hover {
          color: #fff; }

/*# sourceMappingURL=style.css.map */
